h1{
    font-size: 50px;
    background-color: #2E6F40;
    text-align: center;
    color: aliceblue;
}

img[src="Gallery Logo.png"] {
    width: 100px;
    position: relative;
    bottom: 125px;
}

.gallery{
    display: inline-block;
    border: 1px solid grey;
    margin: 5px;
    width: 300px;
}

.gallery .desc{
    text-align:center;
    overflow-wrap: normal;
}

.gallery:hover{
    border: 1px solid green;
}

.gallery img{
    width: 300px;
    height: auto;
}


